@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: AppleSDGothicNeo;
  src: url('../../public/fonts/AppleSDGothicNeoM.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --background-color: #f5f5f5;
  font-size: 10px;
}

body {
  color: #000000;
  background: var(--background-color);
}

/* custom scroll bar */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #acacac;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #999999;
}

/* custom layer */
@layer components {
  .card {
    background-color: #ffffff;
    box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.09);
    border-radius: 20px;
  }
}
