@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: AppleSDGothicNeo;
  src: url('../../public/fonts/AppleSDGothicNeoR.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --background-color: #f5f5f5;
  font-size: 10px;
  --animate-duration: 2s;
  --animate-delay: 0.5s;
}

body {
  color: #000000;
  background: var(--background-color);
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #acacac;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #737373;
}
/*
gray: {
  9: '#212121',
  8: '#737373',
  7: '#868686',
  6: '#999999',
  5: '#ACACAC',
  4: '#DCDCDC',
  3: '#EFEFEF',
  2: '#F7F7F7',
  1: '#FCFCFC',
},
*/

/* custom scroll bar */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #acacac;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #999999;
}

/* custom layer */
@layer components {
  .card {
    background-color: #ffffff;
    box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.09);
    border-radius: 20px;
  }
}
